body {
	overflow-x: hidden;
}
.spinner-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 50%;
	left: 0px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.zodiac-picture {
	width: 50%;
	margin-left: 25%;
	margin-bottom: 1.5rem;
	border-radius: 2.5%;
}